# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

+ List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists include
- Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are

1. R
2. Java
3. SQL
4. Julia

 Some of the commonly used libraries used by Data Scientists include

1. TesnorFlow
2. NumPy
3. SciPy
4. Pandas

Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

MD Asadullah